* {
  font-family: Arial;
}

label {
  display: block;
  display:inline-block;
  width: 80px;
}

button, input[type=submit] {
  height: 30px;
  width: 100px;
  background-color: lightblue;
}

button {
  height: 30px;
  width: 100px;
  margin-left: 20px;
  margin-top: 20px;
  background-color: lightblue;
}

.small-button {
  height: 20px;
  width: 60px;
  margin: 5px;
  background-color: #CACACA;
}


.view {
  display: none;
}

.race-block {
  margin: 20px;
}

.admin-race-block {
  margin: 20px;
  border-width: 4px;
  border-color: black;
  background-color: #C9FDC4;
}


.race-label {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 10px;
}

li {
  list-style-type: none;
  font-size: 12px;
}

.radio-label {
  float: left;
  width: 100%;
}

input[type="radio"] {
  float: left;
  position: absolute;
  margin-left: -20px;
}